<footer id="footer" class="clearfix">
  <% if (theme.footer) { %>
    <div class="footer">
      <%- markdown(theme.footer) %>
    </div>
    <br>
  <%}%>
  <% if (theme.social) { %>
    <div class="social-wrapper">
      <% (theme.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>"
            class="social <%- value.icon %> flat-btn"
            target="_blank"
            rel="external nofollow noopener noreferrer">
          </a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  <div><%- markdown(__('footer.license')) %></div>
  <div>
    <%- __('footer.use') %>
    <a href="<%- theme.info.docs %>" target="_blank" class="codename"><%- theme.info.name %></a>
    <%- __('footer.theme') %>
    <!-- 插入了又拍云的描述 -->
    <!-- ，使用
    <a href="https://www.upyun.com/?utm_source=lianmeng&amp;utm_medium=referral">
      <img src="/images/youpaiyun_logo2.png" alt="又拍云" style='width:70px; margin:auto; vertical-align:middle'>
    </a> 
    加速 -->
    <!-- 添加又拍云部分到此结束 -->
    <% if (theme.busuanzi == true) { %>
      <%- __('symbol.comma') %>
      <%- __('footer.total_views') %>
      <span id="busuanzi_value_site_pv"><i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i></span>
      <%- __('footer.times') %>
    <% } %>
    <%- __('symbol.period') %>
    <!-- 插入了备案号 -->
    <!-- <br>
    <a href="http://www.beian.miit.gov.cn">沪ICP备16037613号</a> -->
    <!-- 插入备案号部分到此结束 -->


  </div>

</footer>
<script>setLoadingBarProgress(80);</script>
